.DS_Store
node_modules/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
/build
/config
/docs
/node_modules
/src
/static
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.js
/index.html
/LICENSE
/package-lock.json
/package.json
/Privacy Policy.md
/README.md